
<%- include('partials/header.html') %>

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span>Por <%= noticia.autor %></span>
            </div>

            <div>
                <br>
                <img style="max-width: 100%;" src ="<%= noticia.imagem %>" />
                <br>
            </div>
            
            <%- noticia.conteudo %>


        </div>
        
        <div class="center">
            
            <div style="width:100%;" class="mais-lidas">
                <h3>33 resultados</h3>
                <div class="mais-lidas-noticias">
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/natureza_small.png" />
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/natureza_small.png" />
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/natureza_small.png" />
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                    </div>
                    <div class="mais-lida-noticia-single">
                        <img src="/public/images/natureza_small.png" />
                        <div class="texto-mais-lida-single">
                            <h4>Natureza</h4>
                            <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.html') %>

</body>
</html>