
    <%- include('partials/header.html') %>

        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>

                    <div class="title-destaque-descricao">
                        <h2>Quer fugir das praias no verão?</h2>
                        <p>Veja os melhores destinos para uma viagem a dois, com seu grupo ou até mesmo sozinho. Aproveite o calor longe das praias, curta lagos, cachoeiras e muito mais nesses destinos incríveis.</p>
                    </div>
                    <img src="/public/images/lake.jpg"/>
                </div>  
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2>Ultimas noticias</h2>
                <br><br>

                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png" />
                            <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf mesmo no frio</h2>
                                <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                                <a href="/encarar-o-surf">Ler mais</a>
                            </div>
                            
                        </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png" />
                            <div class="conteudo-noticia-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf mesmo no frio</h2>
                                <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                                <a href="/encarar-o-surf">Ler mais</a>
                            </div>
                            
                        </div>

                    </div>
                    <div class="mais-lidas">
                        <h3>Mais lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/NATUREZA1.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/MUNDOANIMAL.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Mundo animal</h4>
                                    <p>Com idade avançada, leão do Parque Dois Irmãos é diagnosticado com câncer e recebe tratamento. Espécie está ameaçada de extinção.</p>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/TECNOLOGIA.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Tecnologia</h4>
                                    <p>O impacto do uso de fones de ouvido a longo prazo. Descubra como esse dispositivo pode afetar sua audição sem você nem perceber.</p>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/LIFESTYLE.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Lifestyle</h4>
                                    <p>Fazer uma viagem sempre é um momento incrível para a família. Descubra os melhores destinos para 2021.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>

    </body>
</html>