*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding: 8px 0;
    background-color: #0aacdc;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

.logo{
    width: 50%;
}

.logo h2{
    color: white;
}

.form-busca{
    width: 50%;
    text-align: right;
    
}

.form-busca form{
    display: inline-block;
    max-width: 200px;
    position: relative;
}

.form-busca i{
    position: absolute;
    left: 10px;
    top: 7px;
    color: white;
    font-size: 20px;
}   

.form-busca input{
    height: 40px;
    width: 100%;
    border: 0;
    color: white;
    font-size: 20px;
    background-color: #008bb4;
    padding-left: 40px;
    border-radius: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  section.noticia-destaque{
      padding:40px 0;
  }

  section.noticia-destaque > .center{
      max-width: 960px;
  }



.img-destaque{
    width: 100%;
    position: relative;
}

.img-destaque img{
    width: 100%;
    border-radius: 20px;
}

.title-destaque-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 40px;
    max-width: 600px;
    color: white;
    z-index: 2;
}   

.title-destaque-descricao h2{
    font-size: 64px;
    margin: 20px 0;
}

.title-destaque-descricao p{
    font-weight: lighter;
    font-size: 16px;
}

.overlay-destaque{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

section.outras-noticias{
    background-color: #EAEAEA;
    padding: 30px 20;
    text-align: center;

}

section.outras-noticias h2{
    font-size: 54px;
}

.ultimas{
    width: 60%;
    padding: 0 10px;
    display: flex;
}


.box-ultima-single{
    text-align: left;
    width: 48%;
    margin-right: 2%;
    background-color: white;
    padding-bottom: 20%;
    height: 100%;
    border-radius: 10px;
}

.box-ultima-single img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box-ultima-single h2{
    color: #303336;
    font-size: 28px !important;
}

.box-ultima-single h3{
    font-size: 16px;
    color: #33439B;
    margin: 20px 0;
}

.box-ultima-single p{
    color: #7B8591;
    font-size: 16px;
    margin: 20px 0;
}

.conteudo-noticia-single{
    padding: 20px;
}

.mais-lidas{
    width: 40%;
}

.mais-lidas h3{
    background-color: #3F51B5;
    color: white;
    text-align: center;
    padding: 10px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}