<html>

    <head>
        <title>Lista de tarefas | Projeto 1</title>
        <link href="/public/style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="tarefas"> <!-- Criando um loop com ejs -->
            <form method="post">
                <input type="text" name="tarefa" />
                <input type="submit" name="acao" value="Inserir"/>
            </form>

            <!--Excluir tarefa-->
            <% for(let i=0; i < tarefaslist.length; i++){ %>
                <p> <%= tarefaslist[i] %> | <a href="/deletar/<%= i %>">X</a></p>
            
            <% } %>
        </div>
    </body>
</html>